.main {
    display: flex;

    .side-area,
    .card-area {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 150px;

        .categories-group,
        .age-box-group,
        .price-range-container {
            position: relative;
            margin-left: 2.1rem;
            width: 150px;
        }
    }
}

.toggler-symbol {
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    right: 0;

}

@media screen and (max-width: 760px) {
    .main {
        .side-area {
            display: none;
        }

        .card-area {
            margin-top: 20px;
        }
    }
}