.card-container{
    z-index:1;
}
.card-item {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border: 1px solid #dadada;
    width:28%;
    height: 30vw;
    .card-img{
        width: 100%;
    }
    .card-content {
        line-height: 20px;
        font-size: 13px;
        color: #000;

    }
}