.btn-group {
    position: absolute;
    left: 217px;
    top: 160px;
    button {
        padding: 13px;
        border: 1px solid #dadada;
        border-radius: 0;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        transition: all 0.3s;
        margin: 7px;
        &:hover {
            background-color: #0d2e43;
            color: #fff;
        }
        
    }
    button:focus {
        outline: none;
        box-shadow: none;
      }
}

@media screen and (max-width: 760px) {
    
      .btn-group {
          display: none;
      }
    
    }